<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fruit.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @fruit.region %>
</p>

<p>
  <strong>Code:</strong>
  <%= @fruit.code %>
</p>

<%= link_to 'Edit', edit_fruit_path(@fruit) %> |
<%= link_to 'Back', fruits_path %>
