<%= form_for(@rogue) do |f| %>
  <% if @rogue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rogue.errors.count, "error") %> prohibited this rogue from being saved:</h2>

      <ul>
      <% @rogue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
