<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reponse.name %>
</p>

<p>
  <strong>Emotion:</strong>
  <%= @reponse.emotion_id %>
</p>

<%= link_to 'Edit', edit_reponse_path(@reponse) %> |
<%= link_to 'Back', reponses_path %>
