<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Campus</th>
      <th>User</th>
      <th>Emotion</th>
      <th>Secondary</th>
      <th>Tertiary</th>
      <th>Response</th>
      <th>With</th>

      <th>Logged time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.user.campus ? event.user.campus.name : nil %></td>
        <td><%= event.user.email %></td>
        <td><%= event.emotion.emotion %></td>
        <td><%= event.secondary %></td>
        <td><%= event.tertiary %></td>
        <td><%= event.my_response %></td>
        <td><%= event.who_with %></td>

        <td><%= event.logged_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
