<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <strong>Emotion:</strong>
  <%= @event.emotion_id %>
</p>

<p>
  <strong>Secondary emotion:</strong>
  <%= @event.secondary %>
</p>

<p>
  <strong>Tertiary experience:</strong>
  <%= @event.tertiary %>
</p>

<p>
  <strong>Response :</strong>
  <%= @event.my_response %>
</p>

<p>
  <strong>with :</strong>
  <%= @event.who_with %>
</p>

<p>
  <strong>Time of day :</strong>
  <%= @event.time_of_day %>
</p>

<p>
  <strong> Reflection: </strong>
  <%= @event.notes %>
</p>





<p>
  <strong>Logged time:</strong>
  <%= @event.logged_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
