<p id="notice"><%= notice %></p>

<h1>Listing Tertiary Experiences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Emotion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tertiaries.each do |tertiary| %>
      <tr>
        <td><%= tertiary.name %></td>
        <td><%= tertiary.emotion_id %></td>
        <td><%= link_to 'Show', tertiary %></td>
        <td><%= link_to 'Edit', edit_tertiary_path(tertiary) %></td>
        <td><%= link_to 'Destroy', tertiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tertiary', new_tertiary_path %>
