<p id="notice"><%= notice %></p>

<p>
  <strong>Tip:</strong>
  <%= @tip.tip %>
</p>

<p>
  <strong>User:</strong>
  <%= @tip.user_id %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @tip.frequency %>
</p>

<p>
  <strong>Icon:</strong>
  <%= image_tag @tip.tip_image.url %>
</p>



<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
