<!DOCTYPE html>
<html>
<head>
  <title>Backend</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menu">
  <li><%= link_to "home" , root_path %></li>
  <li><%= link_to "tips" , tips_path %></li>
  <li><%= link_to "campuses" , campuses_path %></li>
  <li><%= link_to "emotions" , emotions_path %></li>
  <li><%= link_to "secondaries" , secondaries_path %></li>
  <li><%= link_to "tertiaries" , tertiaries_path %></li>
  <li><%= link_to "responses" , responses_path %></li>
  <li><%= link_to "bulk add tool" , bulk_add_path %></li>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
